body {
    background-color: #ffffff;
}

form {
    display: inline;
}

form .description {
    font-size: small;
    color: #444444;
}

h1 a {
    text-decoration: none;
    color: black;
}

#logo {
    padding: 0px;
    margin: 0px;
}

#menu {
    padding: 0px;
    margin: 0px;
    text-align: right;
    font-size: small;
}

#public {
    padding: 0.5em;
    background-color: #a7f43d;
    width: 70%;
    float: left;
}

#private {
    padding: 0.5em;
    background-color: palegoldenrod;
    width: 70%;
    float: left;
}

#links {
    width: 28%;
    float: right;
}

.links {
    background-color: #dddddd;
}

.links p {
    margin: 1em;
}

#belt {
    clear: both;
    text-align: center;
    font-size: small;
}

#bottom {
    clear: both;
    text-align: right;
    font-size: x-small;
}

.diff {
    width: 98%;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.diff .title {
    background-color: #dddddd;
}

.diff tr {
    border: 1px solid #dddddd;
}

.diff td {
    width: 49%;
}

.diff blockquote {
    width: 98%;
    margin: 0.3em;
    background-color: #dddddd;
}

.diff .minus {
    background-color: #ffc573;
}

.diff .plus {
    background-color: lightblue;
}

.acknowledgement {
    background-color: white;
}

.credit {
    font-size: x-small;
    color: black;
}

.ack {
    font-size: small;
    color: lightgreen;
/*     color: #222222; */
/*    border: 5px lightgreen solid;  */
}

.nak {
    font-size: small;
    color: orange;
/*     color: #222222; */
/*    border: 5px orange solid; */
}

.agreement {
    font-size: small;
    color: #222222;
    background-color: white;
}
